{% extends "base.html" %}


{% block page_title %}
    {{month_name|title}} Challenge
{% endblock page_title %}

{% block content %}
    {% include 'challenges/includes/header.html' %}

    <h1 style="text-align: center ">{{month_name | title}} Challenge !!</h1>
    {% if text is not None %}
        <h2 style="text-align: center ">{{ text }}</h2>
    {% else %}
        <p style="text-align: center "> There is no challenge for this month yet!</p>
    {% endif %}
{% endblock content %}